*.iml
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build
captures
.idea/assetWizardSettings.xml
.idea/caches/
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/libs
app/release
app/debug
app/proguard-rules.pro
*.swp
